/* Stylesheet for BlackFriday dashboard */

.overview_header {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.overview_header input[type='radio'] {
  margin-left: 30px;
  margin-right: 10px;
}

.charts {
  width: 33%;
  display: inline-block;
  font-size: 14px;
}
